.sejarah-permohonan-title::before {
    content: "";
    display: inline-block;
    position: relative;
    top: calc(-0.15 * 1em);
    vertical-align: middle;
    height: calc(6px + 0.7em);
    margin-right: calc(7px + 0.3em);
    border-left: calc(5px + 0.1em) solid #fca31e;
  }
  
  .sejarah-permohonan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .sejarah-permohonan h2 {
    margin-bottom: 40px;
  }
  
  /* Add a media query for smaller screens */
  @media (max-width: 768px) {
    .sejarah-permohonan-container {
      overflow: auto; /* Enable scrolling on smaller screens */
      max-height: 70vh; /* Set a maximum height to control scrolling */
    }
  }
  