/* NavBar.css */

/* Style the background color and text color */
.navbar {
  background-color: #491E6E;
  color: white;
}

/* Style the brand/logo link */
.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

/* Style the navigation links */
.navbar-nav .nav-item {
  padding: 10px 20px;
  font-size: 18px;
}

/* Add any additional styles you want */

/* Flex container for logo and navigation items */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  height: 80px;
}

/* Style the right section containing navigation items and "Log Masuk" */
.right-section {
  display: flex;
  align-items: center;
}

/* Style the "Log Masuk" button */
.right-section button {
  white-space: nowrap; /* Prevent text from breaking into two lines */
}

/* Set a fixed width for the responsive navbar */
@media (max-width: 960px) {
  .custom-navbar {
    width: 100%;
    height: 80px;
    padding: 10px;
  }
}
